

:root {  
    --color-h2-blue: #0027D5; 
    --font-size-h2:28px;
    --font-weight-h2:700;
}  

/* 套用公式:var(--color-backGroundPrimary); */

/* 表頭 */
.header-article {
    display: flex;
    justify-content: center;
    
}
.header-article-li{
    display: block;
    margin: 24px 0px;
}
.article-a{
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    margin-left: 40px;
    text-decoration: none;
}
.article-a:hover{
    color: #ee33c9;
}

/* banner 區  */

.header-banner{
    display: flex;
    border: 1px solid #6C757D;
    width: 100%;
}
.header-bner-img{
    width: 50%;
}
.header-bner-right{  /*  觸發 992 / 776 需要調整padding */ 
    margin-left: 24px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}
.header-bner-right time{
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-bottom: 4px;
}
.header-bner-right .bner-p-a{
    font-size: 24px;
    font-weight:500;
    color: #0027D5;
    margin-right: 8px;
    text-decoration: none;
    text-align: center;
    
}
.header-bner-right  .bner-p-bnt{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0027D5;
    padding: 6px 12px;
    border-radius: 40px;
    text-align: center;
    
}
.header-bner-right  .bner-p-bnt:hover{
    background-color: red;
}
.header-bner-right  .bner-h2{
    font-weight: 700;
    font-size: 28px;
    color: #000000;
    margin-top: 8px;
}

@media(max-width:992px){
.header-bner-right{
    margin-left: 0px;
}

.header-banner{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0px 15px;
    
  }
.header-bner-img{
    width: 100%;
    margin-right: 0px;
  }
.header-bner-right{  /*  觸發 992 / 776 需要調整padding */ 
    padding: 24px 12px;
    width: 100%;
  }
 
}


/* ************* 中間內容區 **************************** */

.content{
    max-width: 660px;
    margin: 0 auto;
    padding: 0px 12px;
}
.content-font{
    margin-top: 80px;
    
}
.content-h2-blue{
    color: var(--color-h2-blue);
    font-weight: var(--font-weight-h2);
    font-size: var(--font-size-h2);
    margin-bottom: 24px;

}

.content-p{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    
}
.content-font-li{
    display: block;
    margin-bottom: 48px;
}


@media(max-width:992px){
    .content{
    padding: 0px 15px 64px 15px ;
    /* margin: 0 auto;
    width: 100%; */
}
    .content-font{
        width: 100%;
    }


}

/* ********* 2. 打好基礎：HTML、CSS、JavaScript********* */



.content-h3-bk{
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px;
}

.ol-list{
    padding-left: 22px;
    
}
.ol-list-style1{
    list-style: disc;
    list-style-type:decimal;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    
}

.ol-list-style2{
    list-style: disc;
    list-style-type:decimal;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.content-p-leader{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-top: 8px;
}
.first-atc-img{
    margin-bottom: 24px;
}
.first-atc-inside{
    margin-top: 24px;
    margin-bottom: 24px;
}
.text-bluecolor{
    color: #0027D5;
}

.first-act-graybg{
    background-color: #EDEDED;
    border-radius: 24px;
    padding: 24px;
}
.graybg-p{
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

@media(max-width:992px){

.first-article{
    width: 100%;
    margin: 0 auto;
}

}


/* ********* 3. 擅用主流框架與工具 ********* */
.ol-list-two{
    list-style: disc;
    list-style-type:disc;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}


/* ********* 5. 結語 ********* */

.contract-a{
    font-size: 16;
    font-weight: 500;
}

.first-act-graybg-end{
    background-color: #EDEDED;
    border-radius: 24px;
    padding: 24px;
    margin: 24px 0px;
}

/* ********* 7.  翻頁  ********* */

.flipPage{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    color: #4B4B4B;
}

.flipPage-left{
    border: 1px solid #000000;
    padding: 8px 16px;
    border-radius: 40px;
}
.flipPage-left:hover{
    background-color: #0027D5;
    color: #FFFFFF;
    border: 1px solid #0027D5;
}

.flipPage-left-ul{
    display: flex;
    align-items: center;
}

.flipPage-right-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flipPage-right{
    border: 1px solid #000000;
    padding: 8px 16px;
    border-radius: 40px;
}
.flipPage-right:hover{
    background-color: #0027D5;
    color: #FFFFFF;
    border: 1px solid #0027D5;
}
.flipPage-side{
    width: 24px;
    height: 24px;

}

.flipPage-words{
    width: 48px;
    height: 24px;
}
.flipPage-side2{
    width: 24px;
    height: 24px;
    padding-left: 8px;
    /* border: 1px solid pink; */
}



/* 表尾 footer 製作 *********************************** */
.footer{
    margin: 0 auto;
    width: 100%;
    max-width: 1320px;
    padding: 0px 12px;
}
.footer .footer-top{
    display: flex;
    justify-content: space-between;
    padding: 80px 0px;
    width: 100%;
}
.footer .footer-top-Email{
    
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}

.footer .footer-img-ul{
    display: flex;
    
}
.footer-under .footer-ud-year{
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin: 24px 0px;
}
@media (max-width:992px) {
    
    .footer .footer-top{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display:none;
    }
    /* .footer .footer-top-Email{
       display:none; 
    } */
}
@media (max-width:767px) {
    .footer .footer-top{
    width: 100%;
   
    padding-left: 200px;
    padding-right: 200px;
    

    }
    
}