.header-top{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 24px 0px;
}

.header-top-a{
    text-decoration: none;
    font-weight: 700;
    font-size: 28px;
    color: #000000;
    margin-left: 40px;
}
.header-top-a:hover{
    color: #ee33c9;
}

/* banner all  */

.banner{
    width: 100%;
    display: flex;
}
.banner-humen{
    width: 50%;
}
.banner-humen img{
    width: 100%;
    display: block;
    object-fit: cover;
    background-size: cover;
}
.banner-title{
    align-items: center;
    display: flex;
    width: 50%;
    /* height: 834px; */
    /* background: url(./images/index/a1.png); */
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true")no-repeat;
}
.banner-content{
    margin-left: 80px;
}
.banner-content-name{
    font-size: 120px;
    font-weight: 900;
    color: #0027D5;
}
.banner-content-p{
    font-size: 28px;
    font-weight: 700;
    color: #0027D5;
}

@media(max-width:992px){
    .banner-content-name{
    font-size: 50px;
    }
    .banner{
    padding: 0px 15px; 
    display: flex;
    flex-direction: column;
    }
    .banner-content{
        padding: 250px 50px 150.5px 50px;
        margin: 0px;
    }
    .banner-content-name{
        font-size: 52px;
        margin-top: -220px;
        margin-left: 200px;
    }
    .banner-content-p{
        font-size: 28px;
        margin-left: 200px;
    }
     .banner-title{
        width: 100%; 
    }
    .banner-humen{
        width: 100%;
    }
    .banner-self .banner-self-introduction{
     width: 100%;
     margin-left: 65px;
    }
    .banner-self{
    display: flex;
    justify-content: start;
    padding: 0px;
}
}

@media(max-width:767px){
    .banner-content-name{
    font-size: 52px;
    margin-top: -220px;
    margin-left: 0px;
    }
    .banner-content-p{
    font-size: 28px;
    margin-left: 0px;
    }
 
}
/* banner img - all  */

.self-p{
    font-weight: 500;
    font-size: 28px;
    color: #000000;
    margin-bottom: 16px;
}
.self-sp{
    font-weight: 500;
    font-size: 28px;
    color: #000000;
}
.self-img-ul{
    display: flex;
}
.banner-self{
    display: flex;
    justify-content: end;
    padding-right: 80px;
}
.banner-self-introduction{
    width: 60%;
    padding: 80px 40px;
    margin-top: -150px;
    background-color: #FFFFFF;
    background-size: cover;
}

